<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Github Telemetry Button Generator</title>
  <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
  <%- body %>
</body>
</html>
